# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket	= /var/run/mysqld/mysqld.sock
nice = 0

[mysqld]
max_allowed_packet	= 16M
default_authentication_plugin=mysql_native_password
bind-address = 0.0.0.0

!includedir /etc/mysql/conf.d/
